includes:
	- temp/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/rules.neon

parameters:
	ignoreErrors:
		# Cannot analyse typecasted array
		- '#^Access to an undefined property object\:\:#'
		# Returns false only on failure which should not happen in our case (CsvResponse)
		- '#^Parameter \#1 \$fp of function (fputcsv|fclose) expects resource, resource\|false given\.$#'
		# Too magic method
		- '#^Parameter \#1 \$serie of method Tlapnet\\Chart\\CategoryChart\:\:addSerie\(\) expects Tlapnet\\Chart\\Serie\\CategorySerie, Tlapnet\\Chart\\Serie\\AbstractSerie given\.$#'
		# Cannot add typehint
		- '#^Call to an undefined method Nette\\ComponentModel\\IComponent\:\:isSubmittedBy\(\)\.$#'
		# Should not happen
		- '#^Method Tlapnet\\Report\\Bridges\\Dibi\\Fetcher\\DibiFetcher\:\:doQuery\(\) should return DibiResult but returns DibiResult\|int\.$#'
	excludes_analyse:
		# Too magic
		- %rootDir%/../../../../../src/Utils/Html.php
		# PHPStan dont know that it should not check null if it was already checked in previous code
		- %rootDir%/../../../../../src/Subreport/Subreport.php
		- %rootDir%/../../../../../src/Subreport/SubreportBuilder.php
		- %rootDir%/../../../../../src/DataSources/PdoDataSource.php
		- %rootDir%/../../../../../src/Bridges/Nette/Database/DataSources/NetteDatabaseDataSource.php
		# PHPStan dont know how to work with multiple type annotations
		- %rootDir%/../../../../../src/Bridges/Nette/Form/FormFactory.php
		# Nette\Diagnostics\IBarPanel not used at all, wtf?
		- %rootDir%/../../../../../src/Bridges/Dibi/DataSources/DibiDataSource.php
		- %rootDir%/../../../../../src/Bridges/Dibi/DataSources/DibiWrapperDataSource.php
		- %rootDir%/../../../../../src/Bridges/Dibi/DataSources/MultiDibiWrapperDataSource.php
		- %rootDir%/../../../../../src/Bridges/Dibi/DataSources/TDibiDebugPanel.php
