includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		# Cannot analyse typecasted array
		- '#^Access to an undefined property object\:\:#'
		# Returns false only on failure which should not happen in our case (CsvResponse)
		- '#^Parameter \#1 \$fp of function (fputcsv|fclose) expects resource, resource\|false given\.$#'
		# Too magic method
		- '#^Parameter \#1 \$serie of method Tlapnet\\Chart\\CategoryChart\:\:addSerie\(\) expects Tlapnet\\Chart\\Serie\\CategorySerie, Tlapnet\\Chart\\Serie\\AbstractSerie given\.$#'
		# Cannot add typehint
		- '#^Call to an undefined method Nette\\ComponentModel\\IComponent\:\:isSubmittedBy\(\)\.$#'
		# Should not happen
		- '#^Method Tlapnet\\Report\\Bridges\\Dibi\\Fetcher\\DibiFetcher\:\:doQuery\(\) should return DibiResult but returns DibiResult\|int\.$#'
		- '#^Method Tlapnet\\Report\\Utils\\Expander\:\:doSingle\(\) should return string but returns string\|null\.$#'
		- message: '#^Parameter \#. \$str. of function levenshtein expects string, array\|string\|null given\.$#'
		  path: %currentWorkingDirectory%/src/Utils/Suggestions.php
		# Intended
		- '#^Parameter \#1 \$data \(.+\) of method Tlapnet\\Report\\Preprocessor\\Impl\\.+Preprocessor\:\:preprocess\(\) should be contravariant with parameter \$data \(mixed\) of method Tlapnet\\Report\\Preprocessor\\Preprocessor\:\:preprocess\(\)$#'
	excludes_analyse:
		# Too magic
		- %currentWorkingDirectory%/src/Utils/Html.php
		# PHPStan dont know that it should not check null if it was already checked in previous code
		- %currentWorkingDirectory%/src/Subreport/Subreport.php
		- %currentWorkingDirectory%/src/Subreport/SubreportBuilder.php
		- %currentWorkingDirectory%/src/DataSources/PdoDataSource.php
		- %currentWorkingDirectory%/src/Bridges/Nette/Database/DataSources/NetteDatabaseDataSource.php
		# PHPStan dont know how to work with multiple type annotations
		- %currentWorkingDirectory%/src/Bridges/Nette/Form/FormFactory.php
		# Nette\Diagnostics\IBarPanel not used at all, wtf?
		- %currentWorkingDirectory%/src/Bridges/Dibi/DataSources/DibiDataSource.php
		- %currentWorkingDirectory%/src/Bridges/Dibi/DataSources/DibiWrapperDataSource.php
		- %currentWorkingDirectory%/src/Bridges/Dibi/DataSources/MultiDibiWrapperDataSource.php
		- %currentWorkingDirectory%/src/Bridges/Dibi/DataSources/TDibiDebugPanel.php
