{block}

<section class="subreport" id="subreport-{$subreport->getSid()}">
    <div class="alert alert-danger">
        <strong>{get_class($exception)}</strong>
		<div>({$exception->getCode()}) {$exception->getMessage()}</div>
		{if $exception instanceof Tlapnet\Report\Exceptions\Runtime\DataSource\SqlException}
			<hr />
			<div><code>{$exception->getSql()}</code></div>
        {/if}
    </div>
</section>
