{block}
<table class="table table-hover table-bordered table-striped">
    <thead n:if="!empty($columns)">
        <tr>
            <th>{$columns['key']->title}</th>
            <th>{$columns['value']->title}</th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$rows as $key => $value">
            <th>{$key}</th>
            <td>{$value}</td>
        </tr>
    </tbody>
</table>
